

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  color: rgb(60, 235, 235);
}

.dropbtn i {
  color: rgb(107, 221, 107);
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 158px;
  padding: 3px;
  top: 55px;
  z-index: 1;
}

.dropup-content button {
  position: relative;
  border: none;
  color: crimson;
}

.dropup-content button span {
  position: relative;
}

.dropup-content button span::after {
  position: absolute;
  content: '';
  height: 1px;
  background: crimson;
  left: 0;
  bottom: 0;
  transition: .5s;
}

.dropup-content button span:hover::after {
  width: 100%;
}

.dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropup-content a:hover {
  background-color: #ccc
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: #2980B9;
}